#color-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.color-container {
    width: 100px;
    height: 100px;
}

.hex-code {
    color: black;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}